@import "tailwindcss";



@theme {
    --color-gray-900: #2e69c2;
    --color-gray-800: #2f3136;

    --color-custom-orange: #ffb224; 
    --color-custom-red: #792424; 
  }


/* To Hide ScrollBar */ 
.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

